#Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from pandas.plotting import parallel_coordinates
from sklearn.preprocessing import label_binarize
from sklearn.metrics import roc_curve, auc
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.model_selection import cross_val_score

#Importação dos dados

In [2]:
url='https://raw.githubusercontent.com/PDI-2022/Testes/main/Dados%20Tetraz%C3%B3lio%20Feij%C3%A3o%20-%20Plan1%20(1).csv'
sementes = pd.read_csv(url,sep=",")

#Agrupando os resultados obtidos em Classes (Classe Experimental)

In [3]:
sementes ['CLASSES EXP']= sementes['% VERMELHO']
sementes['CLASSES EXP'] = np.where(  (sementes['CLASSES EXP'] < 10.00), 5, sementes['CLASSES EXP'])
sementes['CLASSES EXP'] = np.where( (sementes['CLASSES EXP'] >= 10.00) & (sementes['CLASSES EXP'] < 40.00), 4, sementes['CLASSES EXP'])
sementes['CLASSES EXP'] = np.where( (sementes['CLASSES EXP'] >= 40.00) & (sementes['CLASSES EXP'] < 60.00), 3, sementes['CLASSES EXP'])
sementes['CLASSES EXP'] = np.where( (sementes['CLASSES EXP'] >= 60.00) & (sementes['CLASSES EXP'] < 80.00), 2, sementes['CLASSES EXP'])
sementes['CLASSES EXP'] = np.where( sementes['CLASSES EXP'] >= 80.00, 1, sementes['CLASSES EXP'])
sementes

     LOTE  REPETIÇÃO  SEMENTE  CLASSE  VIGOR  % VERMELHO  CLASSES EXP
0       1          1        1       3      0   96.244585          1.0
1       1          1        2       3      0   51.152730          3.0
2       1          1        3       3      0   79.805826          2.0
3       1          1        4       2      0   40.562897          3.0
4       1          1        5       3      0   12.443825          4.0
..    ...        ...      ...     ...    ...         ...          ...
995    10          2       46       4      1   15.201026          4.0
996    10          2       47       4      1   29.318749          4.0
997    10          2       48       4      1   90.637130          1.0
998    10          2       49       4      1   90.906044          1.0
999    10          2       50       4      1   27.683501          4.0

[1000 rows x 7 columns]

#Comparando as classes teóricas com as obtidas experimentalmente

In [4]:
sementes['COMP'] = sementes['CLASSE'] - sementes['CLASSES EXP']
sementes.loc[sementes['COMP'] < 0, 'COMP'] = -1
sementes.loc[sementes['COMP'] > 0, 'COMP'] = 1
sementes.loc[sementes['COMP'] == 0, 'COMP'] = 0
sementes['COMP'].replace({-1:'Modelo é maior', 1:'Modelo é menor', 0:'Iguais'}, inplace=True)
sementes

,LOTE,REPETIÇÃO,SEMENTE,CLASSE,VIGOR,% VERMELHO,CLASSES EXP,COMP
0,1,1,1,3,0,96.244585,1.0,Modelo é menor
1,1,1,2,3,0,51.152730,3.0,Iguais
2,1,1,3,3,0,79.805826,2.0,Modelo é menor
3,1,1,4,2,0,40.562897,3.0,Modelo é maior
4,1,1,5,3,0,12.443825,4.0,Modelo é maior
...,...,...,...,...,...,...,...,...
995,10,2,46,4,1,15.201026,4.0,Iguais
996,10,2,47,4,1,29.318749,4.0,Iguais
997,10,2,48,4,1,90.637130,1.0,Modelo é menor
998,10,2,49,4,1,90.906044,1.0,Modelo é menor
999,10,2,50,4,1,27.683501,4.0,Iguais

#Calculando o percetual de acerto

In [5]:
sementes['COMP'].value_counts(normalize=True)

#lote1 = sementes[sementes['LOTE']==1]
#lote1
#lote1['COMP'].value_counts(normalize=True)

Modelo é menor    0.512
Iguais            0.251
Modelo é maior    0.237
Name: COMP, dtype: float64